.port_container {
}
.port_catTitle {
  color: #53c28b;
}

.port_item{
  display: flex;
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.port_item:nth-child(2n+1){
  flex-direction: row-reverse;
}

.port_imgContainer{
  flex:1;
  height: 500px;
  position: relative;
}

.port_img{
  /* object-fit: cover; */
}

.port_content{
  flex:1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.port_title{
  font-size: 50px;
}

.port_desc{
  font-size: 20px;
}
